.header__lang-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 18px 0 0;
    text-decoration: none;
}

.header__lang-link:last-child {
    margin: 0;
}