.page__header {
    margin: 28px auto 0 auto;
    min-height: 52px;
}

@media (max-width: 768px) {
    .page__header {
        margin-top: 16px;
        min-height: 42px;
        max-height: 42px;
    }
}