.page__place {
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 767px) {
    .page__place {
        margin-top: 64px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page__place {
        margin-top: 88px;
        width: 100%;
        max-width: calc(81.25% + 96px);
    }
}

/*
    y = 0.2187x + 704 где
    x - ширина экрна
    y - max-width для блока
    48px -> 148px
 */
 @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__place {
        width: 100%;
        max-width: calc(21.87% + 704px);
    }   
}

@media screen and (min-width: 1280px) {
    .page__place {
        width: 100%;
        max-width: 984px;
    }
}