.page__place {
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 767px) {
    .page__place {
        margin-top: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page__place {
        margin-top: 88px;
    }
}