.page__footer {
    margin: auto;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .page__footer {
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

 @media screen and (min-width: 768px) and (max-width: 1023px) {
    .page__footer {
        margin-top: 88px;
        width: 100%;
        max-width: calc(81.25% + 96px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__footer {
        margin-left: 48px;
        margin-right: 48px;
    }   
}

@media screen and (min-width: 1280px) {
    .page__footer {
        width: 100%;
        max-width: 1184px;
    }
}