.page__photo-grid {
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .page__photo-grid {
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }   
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page__photo-grid {
        margin-top: 88px;
        width: 100%;
        max-width: calc(81.25% + 96px);
    }   
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__photo-grid {
        margin-left: 48px;
        margin-right: 48px;
    }   
}

@media screen and (min-width: 1280px) {
    .page__photo-grid {
        width: 100%;
        max-width: 1184px;
    }
}