.page__cover {
    margin: auto;
    margin-top: 90px;
}

@media screen and (max-width: 1024px) {
    .page__cover {
        min-height: calc(62.5vw);
    }
}

@media screen and (min-width: 1024px) {
    .page__cover {
        min-height: calc(62.5vw);
    }
}
@media screen and (min-width: 1280px) {
    .page__cover {
        min-height: calc(62.5vw);
    }
}